@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.splide__arrow--prev {
  left: 0 !important;
}

.splide__arrow--next {
  right: 0 !important;
}
.splide__arrow--prev svg {
  fill: #fff !important;
}
.splide__arrow--next svg {
  fill: #fff !important;
}
.splide__pagination__page.is-active {
  background: #d3a946 !important;
}

#hero::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 20;
  background-color: #d3a946;
}
