@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.splide__arrow--prev {
  left: 0 !important;
}

.splide__arrow--next {
  right: 0 !important;
}
.splide__arrow--prev svg {
  fill: #fff !important;
}
.splide__arrow--next svg {
  fill: #fff !important;
}
.splide__pagination__page.is-active {
  background: #d3a946 !important;
}

#hero::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 20;
  background-color: #d3a946;
}

.start-curve-divider {
  clip-path: polygon(
    0% 0%,
    /* Starting point */ 11.87% 2.8%,
    22.5% 10.4%,
    32.18% 21.6%,
    41.25% 35.2%,
    50% 50%,
    /* Middle point */ 58.75% 64.8%,
    67.82% 78.4%,
    77.5% 89.6%,
    88.13% 97.2%,
    100% 100%,
    /* End point */ 0% 100%
  );
  transform: translateY(-100%);
  z-index: 2;
}

.start-divider {
  margin-bottom: -2px;
}

.end-curve-divider {
  clip-path: polygon(
    0% 100%,
    11.87% 97.2%,
    22.5% 89.6%,
    32.18% 78.4%,
    41.25% 64.8%,
    50% 50%,
    58.75% 35.2%,
    67.82% 21.6%,
    77.5% 10.4%,
    88.13% 2.8%,
    100% 0%,
    100% 100%
  );
  transform: translateY(-100%);
  z-index: 2;
}

.end-divider {
  margin-bottom: -2px;
}

/* Initial state for the line */
.path-draw {
  stroke-dasharray: 300;
  stroke-dashoffset: 300; /* Hides the entire line initially */
}

/* Animation for the line-drawing effect */
@keyframes draw {
  to {
    stroke-dashoffset: 0; /* Fully reveals the line */
  }
}
